<div>
    Nouveau message de <em><%= author.name %></em> dans <em><%= post.name %></em>
</div>
<pre>
    <%= message.content %>
</pre>
<div>
    <a href="<%= baseUrl %>posts/<%= post.id %>">Voir la conversation</a>
</div>
