<% layout('layouts/main') -%>

<div class="btn-toolbar">
	<a href="create" class="btn btn-primary">Ajouter un utilisateur</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Courriel</th>
			<th>Administrateur</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% models.forEach(function(user){ %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.isAdmin ? "oui" : "non" %></td>
				<td>
					<a class="btn btn-default" href="<%= user._id %>/update">Modifier</a>
					<a class="btn btn-default" href="<%= user._id %>/remove">Supprimer</a>
				</td>
			</tr>
		<% }); %>
	</tbody>
</table>