<% layout('layouts/main') -%>

<h3>
	<%= comity.name %>
</h3>

<div class="panel panel-primary">
	<div class="panel-heading"><%= post.name %></div>
	<table class="table post-view">
		<tbody>
		<% post.items.forEach(function(item){ %>
			<tr>
				<td>
					<strong><%= item.author.name %></strong><br>
					<%= dateFormatter.datetime(item.date) %>
				</td>
				<td>
					<pre><%= item.content %></pre>
				</td>
			</tr>
		<% }); %>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<strong><%= currentUser.name %></strong>
				</td>
				<td>
					<form method="post">
						<input type="hidden" name="type" value="comment">
						<div class="form-group">
							<textarea class="form-control" name="content" rows="4"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</form>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
